<style type="text/css">
ul				{font-family: Arial, Helvetica, sans-serif; font-size: 12px; margin:0px; padding:0px;}
li				{font-family: Arial, Helvetica, sans-serif; font-size: 12px; margin:0px; padding:0px;}
body 		{	font-family: Arial, Helvetica, sans-serif; font-size: 12px;
				margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px;
				background-color:#000; background-image:url(images/topbackgr.jpg); background-position:top; background-repeat:repeat-x;
			}

td 				{font-family: Arial, Helvetica, sans-serif; font-size: 12px;}
p 				{font-family: Arial, Helvetica, sans-serif; font-size: 12px;}

a:link 	{color: #000; text-decoration: underline;}
a:hover {color: #000; text-decoration: underline;}
a		{color: #000; text-decoration: underline;}

.botmnav			{padding:5px; font-size:11px; color:#ccc; background-color:#001845;}
a.botmnavlnk:link 	{color:#ccc; text-decoration:underline; font-weight:normal; font-size:11px;}
a.botmnavlnk:hover 	{color:#fff; text-decoration:underline; font-weight:normal; font-size:11px;}
a.botmnavlnk		{color:#ccc; text-decoration:underline; font-weight:normal; font-size:11px;}

.copyright	{padding:0; font-size: 11px; color:#ccc;}
a.cr:link 	{color: #ccc; text-decoration: underline;}
a.cr:hover 	{color: #fff; text-decoration: underline;}
a.cr		{color: #ccc; text-decoration: underline;}


.maintd			{padding:35px 60px 25px 60px; background-color:#fff;
				 background-image:url(images/hdrbackgr.jpg); background-position:top; background-repeat:no-repeat;}
.rightside		{background-image:url(images/brdr_right.jpg); background-position:left; background-repeat:repeat-y;}
.leftside		{background-image:url(images/brdr_left.jpg); background-position:right; background-repeat:repeat-y;}
.testimonial	{background-color:#8bcbf4; padding:10px; color:#000; border:solid 1px #00b3ee;}
.testimauthor	{color:#333;}
.caption1		{padding:5px; font-size:11px; background-color:#eee;}

.list1			{font-size:14px; font-weight:bold; color:#00205c;}
.list2			{padding:0 0 0 15px;}
.list3			{font-size:14px; font-weight:bold; padding:0 0 0 15px; color:#00205c;}
.list4			{padding:0 15px 0 0;}

.hdr1			{font-size:18px; font-weight:bold;}
.hdr2			{font-size:14px; font-weight:normal; font-style:italic; color:#00205c;}
.hdr3			{font-size:14px; font-weight:bold; color:#00205c;}
.hdr4			{font-size:14px; font-weight:bold; color:#00b3ee;}


.formfields {font-family: arial; color: #000; font-size: 10pt; width: 225px; padding-left: 2px; padding-right: 2px;}
.comments	{width:275px; font-family:arial; color:#000; font-weight:normal; font-size: 10pt; padding-left: 2px;}
table tr td.noflash{width:587px;height:181px;background:#0071c4 url(images/head_bg_flash.jpg) no-repeat top left;}
</style>

/* New updates by Joshua for the Freelance Video Crew page. */

#wrap {}

	#wrap h1 {

		margin-top: 0;
		font-size: 18px;

	}

	#wrap h2 {

		margin-top: 24px;
		font-size: 14px;

	}

	#wrap p {}

	#wrap img {}

	#wrap img.left {

		float: left;
		margin: 0 20px 20px 0;

	}

	#wrap img.right {

		float: right;
		margin: 0 0 20px 20px;

	}

	#wrap .interview-samples {

		margin: 36px 0 0 0;

	}

		#wrap .interview-samples ul {

			width: 680px;
			margin: 0;
			padding: 0;
			list-style: none;
			text-align: justify;

		}

		#wrap .interview-samples ul:after {

			content: "";
			display: inline-block;
			width: 100%;

		}

			#wrap .interview-samples li {

				display: inline-block;
				width: 32%;
				margin: 0 0 12px 0;
				text-align: left;
				vertical-align: top;

			}

				#wrap .interview-samples img {

					display: block;
					width: 100%;
					max-width: 100%;

				}

	#wrap abbr {

		cursor: help;

	}

	#wrap .group {}

	#wrap .group:after {

		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
		font-size: 0;

	}

	.lt-ie8 #wrap .group {

		zoom: 1;

	}

		#wrap .bilingual {

			float: left;
			width: 295px;
			padding: 0 0 25px 0;

		}

			#wrap .bilingual img {

				width: 80px;

			}

			#wrap .bilingual img.right {

				width: 90px;
				margin: 30px 0 30px 20px;

			}

		#wrap .testimonial {

			float: right;
			width: 338px;
			margin: 64px 0 0 0;

		}

			#wrap .testimonial h3 {

				margin-top: 0;
				font-size: 14px;

			}

			#wrap .testimonial blockquote {

				margin: 0;

			}

				#wrap .testimonial p {}

				#wrap .testimonial .source {}

					#wrap .testimonial .name {}

					#wrap .testimonial .location {}

						#wrap .testimonial .company {}

						#wrap .testimoinal .country {}