/*--------------------------------------
	Variables
--------------------------------------*/

/* Notes... */

:root {

	--color-rgb-blue: 34, 82, 157;
	--color-blue: rgb(var(--color-rgb-blue));

	--color-rgb-light-blue: 105, 167, 255;
	--color-light-blue: rgb(var(--color-rgb-light-blue));

	--color-rgb-tan: 241, 241, 230;
	--color-tan: rgb(var(--color-rgb-tan));

	--color-rgb-gray: 67, 70, 86;
	--color-gray: rgb(var(--color-rgb-gray));

	--color-rgb-light-gray: 167, 170, 188;
	--color-light-gray: rgb(var(--color-rgb-light-gray));

	--color-rgb-black: 0, 0, 0;
	--color-black: rgb(var(--color-rgb-black));

	--color-rgb-white: 255, 255, 255;
	--color-white: rgb(var(--color-rgb-white));

	--color-rgb-construction: 255, 192, 203;
	--color-construction: rgba(var(--color-rgb-construction), 0.50);

}

/*--------------------------------------
	Color Scheme
--------------------------------------*/

/* Notes... */

/* Base
------------------------------------- */

/* Notes... */

/* $color-base-white: rgb(255, 255, 255); */
/* $color-base-black: rgb(0, 0, 0); */

/* Gray Scale
------------------------------------- */

/* Notes... */

/* $color-gray-10: rgb(230, 230, 230); */
/* $color-gray-20: rgb(203, 203, 203); */
/* $color-gray-30: rgb(180, 180, 180); */
/* $color-gray-40: rgb(154, 154, 154); */
/* $color-gray-50: rgb(128, 128, 128); */
/* $color-gray-60: rgb(101, 101, 101); */
/* $color-gray-70: rgb(77, 77, 77); */
/* $color-gray-80: rgb(33, 33, 33); */
/* $color-gray-90: rgb(25, 25, 25); */

/* Primary Colors
------------------------------------- */

/* Notes... */

/* $color-primary-red: rgb(157, 2, 41); */
/* $color-primary-gray: rgb(128, 130, 133); */