<div class="section testimonials s-testimonials">

	<div class="inner-wrap testimonials__inner-wrap s-testimonials__inner-wrap">

		<div class="testimonials__accent">

			{% include 'assets/quote.svg' %}

		</div>

		<blockquote class="testimonials__item">

			<p class="testimonials__quote">Coastline Productions made it possible for Alvarado to come up with an impressive product video and to deliver it under an almost impossible deadline.</p>

			<span class="testimonials__source">

				<strong class="testimonials__name">Tom Laib</strong><span class="testimonials__separator">,</span> <i class="testimonials__company">Alvarado Manufacturing</i>

			</span>

			<div class="testimonials__review">

				<a href="#" class="testimonials__review-link">Read Entire Review</a>

			</div>

		</blockquote>

	</div>

</div>